img{
    height:100px;
    width:auto;
}

.card{
    background-color: rgb(111, 121, 131);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    border:1px solid black;
    padding:10px;
    margin:auto;
    margin-top:5px;
    margin-bottom:5px;
    width:200px;
}

