.App {
  text-align: center;
  width: 100vw;
  background:rgb(85, 85, 79);
}
.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.productSection{
  display:flex;
  justify-content: space-around;
  width: 100vw;
}


#title{
  font-weight: 500;
  font-size: 40px;
}